.richText {
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }

  .hero__text {
    width: 60%;
    line-height: 1;

    // @media screen and (max-width: 1400px) {
    //   width: 60%;
    // }
    // @media screen and (max-width: 1200px) {
    //   width: 70%;
    // }
    // @media screen and (max-width: 1100px) {
    //   width: 70%;
    // }
  }
  // p {
  //   font-size: 50px;
  //   width: 45%;
  // }

  // width: 60%;
  // line-height: 10px;
}
